{% extends "base_generic.html" %}

{% block content %}
    <h1>节点环境</h1>
    <table>
        <tr> 
            <td>        
                节点序号
            </td> 
            <td>MAC地址</td>
            <td>PH值</td>   
            <td>温度（摄氏度）</td>              
        </tr>
        <tr> 
            <td>        
                1
            </td> 
            <td>00:00:00:00:10:00</td>
            <td>7.5</a></td>   
            <td>21.0</td>              
        </tr>
        <tr> 
            <td>        
                2
            </td> 
            <td>00:00:00:00:00:01</td>
            <td>7.0</a></td>   
            <td>20.0</td>              
        </tr>
        <tr> 
            <td>        
                3
            </td> 
            <td>00:00:00:00:01:00</td>
            <td>7.5</a></td>   
            <td>21.0</td>              
        </tr>
        <tr> 
            <td>        
                4
            </td> 
            <td>00:00:00:00:03:01</td>
            <td>7.0</a></td>   
            <td>20.0</td>              
        </tr>
    </table>

 
{% endblock content %} 